{% extends 'base.html' %}

{% block content %}
  <style>
    .error-message {
      font-size: 1.2em; /* 글씨 크기 조정 */
      color: red; /* 오류 메시지의 색상을 빨간색으로 설정 */
    }
  </style>

  <h2>회원가입</h2>
  {% if not signup_success %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">가입하기</button>
    </form>
  {% else %}
    <!-- 회원가입 성공 후에는 성공 메시지와 홈으로 가기 버튼을 보여줍니다 -->
    <p>회원가입이 정상적으로 완료되었습니다.</p>
    <a href="{% url 'home' %}" class="btn">홈으로 가기</a>
  {% endif %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} error-message">
        {{ message }}  <!-- 메시지 내용을 표시 -->
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
